<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <br>

    <form action="/weather" method="POST">

        <label for="results">Get Weather your weather</label>
        <br>
        <input type="text" id="theCountry" name="theCountry" placeholder="ie UK" required />
        <br>
        <input type="text" id="theCity" name="theCity" placeholder="ie London" required />
        <br>
        <button type="submit">Go --></button>

    </form>

</body>

</html>