<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">

    <title>Document</title>
</head>

<body>
    {{>header}}
    <br>

    <div class="form">
        <form action="/weather" method="POST">

            <label for="results">Enter country and city</label>
            <br>
            <input type="text" id="theCountry" name="theCountry" placeholder="ie UK" required />
            <br>
            <input type="text" id="theCity" name="theCity" placeholder="ie London" required />
            <br>
            <button type="submit">Ge weather --></button>

        </form>
    </div>

</body>

</html>