<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
</head>

<body>

    <header>

        {{>header}}
        <h2>Results page</h2>

    </header>

    <h3>{{target}}</h3>


</body>

</html>